{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}
<h1>게시판</h1>
{% if request.user.is_authenticated %}
    <a class="btn btn-primary my-3" href="{% url 'articles:new' %}">글 작성</a>
{% endif %}
{% for article in articles %}
<h3><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h3>
<p>{{ article.content }}</p>
<p>{{ article.created_at }} {{ article.updated_at }}</p>

<p class="text-muted">{{ article.user.username }}</p>

<a href="{% url 'articles:delete' article.pk %}">글 삭제</a>
{% endfor %}
{% endblock %}