<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="{% url 'article:create' %}">
    <input type="text" name="content_" id="" maxlength="80">
    <input type="submit" value="추가">
  </form>

  {% for article in articles %}
  <li>{{ article.pk }} - {{ article.content }} - {{ article.created_at }} - {{ article.updated_at}}
    <a href="{% url 'article:delete' article.pk %}">
      삭제
    </a>
    <a href="{% url 'edit' %}">

    </a>
  </li>
  {% endfor %}
</body>

</html>